# Ignorer les fichiers compilés
bin/

# Ignorer les fichiers générés par Eclipse
*.class
*.classpath
*.project
*.settings/
*.factorypath

# Ignorer les fichiers temporaires et de cache
*.tmp
*.bak
*.swp
*.swo

# Ignorer les fichiers de logs
*.log

# Ignorer les fichiers de configuration spécifiques à l'utilisateur
.metadata/

# Ignorer les fichiers de documentation générés
docs/

# Ignorer les fichiers de build
target/
out/

# Ignorer les fichiers de configuration IDE
.idea/
*.iml

